.movie-container {
    display: flex;
    margin: 20px 0;
    justify-content: center;
}

.movie-container-left {
    background-color: lightgray;
    max-width: 110px;
    height: 145px;
}

.movie-container-left img{
    max-width: 100%;
    height: 100%;
}

.movie-container-right {
    flex-basis: 70%;
    text-align: left;
    margin-left: 10px;
}

.movie-container-right h6{
    font-size: 16px;
    margin: 0 0 5px;
}

.movie-container-right p{
    margin: 5px 0;
    font-size: 16px;
}

.movie-description {
    line-height: 18px;
    height: 56px;
    overflow: hidden;
}

.movie-metadata {
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.movie-metadata .filled-star::before {
    content: '★';
}
.movie-metadata .empty-star::before {
    content: '☆';
}